*.*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*.R
!*.do
!*.m
!*.jl
!profitvol_t_three_dropm1.csv
!profitvol_t_three_dropm1.csv
!kogan_targets.csv
!entry_rate_summ.csv
!bds1.csv
!bds3.csv
!kpss1.csv
!nber_cit.csv
!transmat_targets_three_dropm1.csv
!transmat_targets_bottom90_three_dropm1.csv
!transmat_targets_top10top20_three_dropm1.csv
!transmat_targets_halves_three_dropm1.csv
!usdata.csv
!dgs1.csv
!yields.csv
!rdsales_t_targets_three_dropm1.csv